.remove-btn {
    cursor: pointer;
}

.counter-btns {
    display: flex;
    justify-content: center;
}

.counter-btns button {
    margin: 0 5px;
    text-transform: lowercase;
}

.namecard {
    text-transform: capitalize;
}

.vehicle {
    display: inline-block;
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 12px;
    margin: 5px 0px 5px 10px;
    background: #eeeeee;
    color: black;
}